################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageBroker_1_RequestRecording/MessageBroker_1/.vs
/RabitMqConsumer/ConsoleApp1/.vs
/Talha/PublisherFromDB/PublisherFromDB/.vs/PublisherFromDB
/RabitMqConsumer/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex
/Talha/RabitMqConsumer/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex
