################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MessageBroker_1_RequestRecording/MessageBroker_1/.vs
/RabitMqConsumer/ConsoleApp1/.vs
